<div id="title">CREATE AN ACCOUNT</div>

<div class="form-container">

<form>
<input id="email" type="text" placeholder="Email">
<input id ="password" type="password" placeholder="Password">
<input id ="repeatpassword" type="password" placeholder="Repeat Password">
<button type="submit" id="Submit" class="auth-btn">SIGN UP</button>
</form>  
<div id="footer"><p>RETURN TO SIGN IN</p></div>
</div>


<!-- I don't know if this is right? Should these be in Index.html? -->
<!-- <script src ="signup.component.ts"></script> -->


