<div id = 'imagediv'>
<img id = "profileimage" src = "https://intermountainhealthcare.org/-/media/images/modules/physician-directory/profile-placeholder.png?mh=276&mw=276">
</div>

<h2 id='username'> xXUsername420Xx </h2>


<div id = 'tablediv'>
<div class="divTable blueTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell" id='col1'>Playstation</div>
<div class="divTableCell" id='col2'>placeholderID</div>
<div class="divTableCell" id='col3'><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/692982-200.png" id="pencil"></div>
</div>
<div class="divTableRow">
<div class="divTableCell" id='col1'>Xbox Live</div>
<div class="divTableCell" id='col2'>placeholderID</div>
<div class="divTableCell" id='col3'><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/692982-200.png" id="pencil"></div>
</div>
<div class="divTableRow">
<div class="divTableCell" id='col1'>Battle.net</div>
<div class="divTableCell" id='col2'>placeholderID</div>
<div class="divTableCell" id='col3'><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/692982-200.png" id="pencil"></div>
</div>
<div class="divTableRow">
<div class="divTableCell" id='col1'>Steam ID</div>
<div class="divTableCell" id='col2'>placeholderID</div>
<div class="divTableCell" id='col3'><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/692982-200.png" id="pencil"></div>
</div>
<div class="divTableRow">
<div class="divTableCell" id='col1'>Riot Games</div>
<div class="divTableCell" id='col2'>placeholderID</div>
<div class="divTableCell" id='col3'><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/692982-200.png" id="pencil"></div>
</div>
</div>
</div>
</div>


