#imagediv {
	width: 150px;
	margin: 0 auto;
	margin-top: 5%;
}

#profileimage {
	width: 100%;
}

#username {
	width: 100%;
	text-align: center;
	margin-bottom: 8%;
}

#pencil {
	text-align: center;
	max-width: 200%;
}


#tablediv {
	width: 100%;
	margin-left: 10%;

}
div.blueTable {
  font-family: Georgia, serif;
  background-color: #EEEEEE;
  width: 85%;
  text-align: left;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
  border: 1px solid #FFFFFF;
  padding: 3px 10px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 16px;
}
.blueTable .tableFootStyle .links {
	 text-align: right;
}
.blueTable .tableFootStyle .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.blueTable.outerTableFooter {
  border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

#col1 {
	width: 30%;
}

#col2 {
	width: 30%;
}

#col3 {
	width: 10%;
	background-color: white;
}