

#logodiv {
	position: absolute;
}

#title {
	position: absolute;	
}

#profileimage {
	text-align: center;
	margin-top: 5%;
}

#email {
	font-size: 130%;
	font-weight: bold;
	margin-top: 5%;
	text-align: center;
}

#profileimage {
	display: inline;
}