/*FORM STYLING*/ /*FORM STYLING*/ /*FORM STYLING*/
.formdiv {
	height: 300px;
	margin-top: 65%;
}

#email {
	font-size: 140%;
	margin-top: 12%;
	margin-left: 15%;
	position: absolute;
	width: 70%;
	height: 20%;
	border: 2px solid black;

}

#password, #repeatpassword {
	font-size: 140%;
	margin-top: 30%;
	margin-left: 15%;
	position: absolute;
	width: 70%;
	height: 20%;
	border: 2px solid black;
}

#submit {
	letter-spacing: 4px;
	font-family: 'PT Mono', monospace;
	font-weight: bold;
	font-size: 150%;
	margin-left: 25%;
	margin-top: 50%;
	height: 20%;
	position: absolute;
	width: 50%;
	border: 2px solid black;
	background: #3FC6B8;
	background: linear-gradient(#C5EDE9, #3FC6B8);
	color: black;
}