<div id ="formdiv">
	<form id ="handles">
			<h5 id="xbox">Xbox Live Gamertag:</h5>
			<input type="text" id="xboxName" name="xboxName">

			<h5 id="xbox">Xbox Live Gamertag:</h5>
			<input type="text" id="xboxName" name="xboxName">

		
			<h5 id ="steam">Steam ID:</h5>
			<input type="text" id="steamName" name="steamName">

			<h5 id="psn">PSN Online ID:</h5>
			<input type="text" id="psnName" name="psnName">

		
			<h5 id ="bnet">Battle.net ID:</h5>
			<input type="text" id="bnetName" name="bnetName">




        <button type="submit" id="submit">Submit</button>

	</form>
</div>