.headerbox {
	position: absolute;
	width: 100%;
	background-color: black;
	height: 250px;
}

.logodiv {
	margin: 0 auto;
	margin-left: 2%;
	margin-top: 10%;
	height: 200px;
	background-image: url('https://i.imgur.com/fqyPd2Q.png');
	background-repeat: no-repeat;
    background-position: center;


}

#top, #bottom, #left, #right {
	background: #3FC6B8;
	position: fixed;
}

#left, #right {
		top: 0; bottom: 0;
		width: 15px;
}

#left { left: 0; 
}
		
#right { right: 0; 
}
		
#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}

#top { top: 0; 
}

#bottom { bottom: 0; 
}

