


#email {
	font-size: 140%;
	margin-top: 47%;
	margin-left: 15%;
	position: absolute;
	width: 70%;
	height: 7%;
	border: 2px solid black;


}

#password{
	font-size: 140%;
	margin-top: 64%;
	margin-left: 15%;
	position: absolute;
	width: 70%;
	height: 7%;
	border: 2px solid black;

}


#login {
	border: 2px solid black;
	position: absolute;
	width: 70%;
	height: 5%;
	margin-left: 15%;
	margin-top: 81%;


}

#register {
	border: 2px solid black;
	position: absolute;
	width: 70%;
	height: 5%;
	margin-left: 15%;
	margin-top: 91%;
}