

<!-- <marquee behavior="scroll" direction="right" scrollamount="2"> -->
<img id="hardstyle" src="https://i.imgur.com/q8QhQud.jpg?3">
<!-- </marquee> -->

<div id="aboutus">
<h1>
	
</h1>

<h3>
Now here's a little story I've got to tell <br>
About three bad brothers you know so well
</h3>

<br>


	<h3>MATT</h3>
<br>
	FRONT END
<br>
  Born in Las Vegas, after spending time in The Bay Area and Seattle, 
  Matt eventually landed in Denver. New to web development, 
  he intends to make a splash by mastering DOM manipulation and Vanilla JS. 
<br>



	<h3>RJ</h3>
<br>
	BACK END 
		<br>
	Trying to learn back end web development. Check back in 6 months.

<br>






	<h3>WILL</h3>
  <br>
  BOTH ENDS AT ONCE
<br>
	In West Philadelphia, born and raised <br>
	On the playground <br> is where I spent most of my days <br>
	Chillin' out, maxin', relaxin' all cool



</div>





