


<!-- <marquee behavior="scroll" direction="right" scrollamount="2"> -->
<img id="hardstyle" src="https://i.imgur.com/q8QhQud.jpg?3">
<!-- </marquee> -->

<div id="aboutus">
<h1>
	Dem Boiiz
</h1>

<h3>
	Three chill bros with big hogs and cool dogs.
</h3>

<br>



	MATT
	<ul>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum placeat eligendi reprehenderit alias possimus quod obcaecati facilis esse sequi vel ipsa, eveniet molestiae? Quasi, incidunt impedit nemo atque ipsam.
	</ul>




	RJ
	<ul>
	BACK END PRO. 
		<br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore inventore sequi, laborum fugiat eveniet voluptatum ipsam minus, praesentium, non reiciendis odit reprehenderit earum nisi? Esse facilis, sunt dolores! Earum. 

	</ul>






	WILL
	<ul>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam at omnis, non accusamus sit deserunt vitae, possimus voluptatibus optio, nesciunt itaque harum neque. Repudiandae possimus incidunt, aperiam inventore modi ea.
	</ul>


</div>




<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5j08a5ip3sr&amp;m=0c&amp;c=ffc000&amp;cr1=ff0000&amp;f=arial&amp;l=33&amp;cw=ffffff&amp;cb=25766e" async="async"></script>