


<!-- <marquee behavior="scroll" direction="right" scrollamount="2"> -->
<img id="hardstyle" src="https://i.imgur.com/q8QhQud.jpg?3">
<!-- </marquee> -->

<div id="aboutus">
<h1>
	
</h1>

<h3>
Now here's a little story I've got to tell <br>
About three bad brothers you know so well
</h3>

<br>


	<h3>MATT</h3>
<br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid illum placeat eligendi reprehenderit alias possimus quod obcaecati facilis esse sequi vel ipsa, eveniet molestiae? Quasi, incidunt impedit nemo atque ipsam.

<br>
<br>



	<h3>RJ</h3>
<br>
	BACK END PRO. 
		<br>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum tempore inventore sequi, laborum fugiat eveniet voluptatum ipsam minus, praesentium, non reiciendis odit reprehenderit earum nisi? Esse facilis, sunt dolores! Earum. 

<br>
<br>





	<h3>WILL</h3>
<br>
	In West Philadelphia, born and raised <br>
	On the playground <br> is where I spent most of my days <br>
	Chillin' out, maxin', relaxin' all cool



</div>




<script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5j08a5ip3sr&amp;m=0c&amp;c=ffc000&amp;cr1=ff0000&amp;f=arial&amp;l=33&amp;cw=ffffff&amp;cb=25766e" async="async"></script>