<div>
  <form class="spacing" (ngSubmit)="saveUser(newUser)">
    <br>
    <label for="email">Email:</label>
    <input name="email" [(ngModel)]="newUser.email">

  <br>

    <label for="xbox">Xbox Live Gamertag:</label>
    <input name="xbox" [(ngModel)]="newUser.xbox">

  <br>

    <label for="steam">Steam ID:</label>
    <input name="steam" [(ngModel)]="newUser.steam">

  <br>

    <label for="psn">PSN Online ID:</label>
    <input name="psn" [(ngModel)]="newUser.psn">

  <br>

    <label for="bnet">Battle.net ID:</label>
    <input name="bnet" [(ngModel)]="newUser.bnet">

  <br>

    <input class="button" type="submit" value="Create">
  </form>
</div>
