/* You can add global styles to this file, and also import other style files */
body {
	
	height: 100vh;
	/*background-image: url('gradient.png');*/
	background-color: black;
	background-repeat: no-repeat;
    background-attachment: fixed;
}



#top, #bottom, #left, #right {
	background: #25766E;
	position: fixed;
}

#left, #right {
		top: 0; bottom: 0;
		width: 7px;
}

#left { 
	left: 0; 
}
		
#right { 
	right: 0; 
}
		
#top, #bottom {
	left: 0; right: 0;
	height: 7px;
}

#top { 
	top: 0; 
}

#bottom { 
	bottom: 0; 
}



/* MEDIA QUERIES TO TELL YOU ONLY USE THE APP ON MOBILE */
@media (min-width:600px) {
	body {
		background-image: url('desktopquery.png');
		background-size: contain;
		background-color: black;
		background-position: center;
		z-index: 20;
	}
	#email,#password,#logodiv,#register,#login,#footer,#title {
		opacity: 0;
	} 
}

@media (min-width:900px) {
	body {
		background-image: url('desktopquery.png');
		background-size: 70%;
		background-color: #25766E;
		background-position: center;
		z-index: 20;

	}
	#email,#password,#logodiv,#register,#login,#footer,#title {
		opacity: 0.11;
	} 
}
