
body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bc4ba+0,008c79+61,008c79+61,003d34+100 */
background: rgb(107,196,186); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(107,196,186,1) 0%, rgba(0,140,121,1) 61%, rgba(0,140,121,1) 61%, rgba(0,61,52,1) 100%); /* FF3.6-15 */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(107,196,186,1)), color-stop(61%,rgba(0,140,121,1)), color-stop(61%,rgba(0,140,121,1)), color-stop(100%,rgba(0,61,52,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(107,196,186,1) 0%,rgba(0,140,121,1) 61%,rgba(0,140,121,1) 61%,rgba(0,61,52,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: -o-radial-gradient(center, ellipse cover, rgba(107,196,186,1) 0%,rgba(0,140,121,1) 61%,rgba(0,140,121,1) 61%,rgba(0,61,52,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(107,196,186,1) 0%,rgba(0,140,121,1) 61%,rgba(0,140,121,1) 61%,rgba(0,61,52,1) 100%); /* IE10 preview */
background: radial-gradient(ellipse at center, rgba(107,196,186,1) 0%,rgba(0,140,121,1) 61%,rgba(0,140,121,1) 61%,rgba(0,61,52,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc4ba', endColorstr='#003d34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#top, #bottom, #left, #right {
	background: #25766E;
	position: fixed;
}
#left, #right {
		top: 0; bottom: 0;
		width: 7px;
}
#left { 
	left: 0; 
}
		
#right { 
	right: 0; 
}
		
#top, #bottom {
	left: 0; right: 0;
	height: 7px;
}
#top { 
	top: 0; 
}
#bottom { 
	bottom: 0; 
}