#logodiv {
	margin-top: 1%;
	width: 100%;
	height: 55%;
	background-image: url('glass.png');
	background-size: 100%;
	background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    
}

#titlediv {
	position: absolute;
	width: 100%;
	background-image-width: 100% ;
	text-align: center;
	letter-spacing: 8px;
	font-family: 'PT Mono', monospace;
	color: white;
	margin-top: 15%;
	font-size: 250%;
}

#headerDiv {
	height: 30%;
	width: 100%;

}

#input {
	margin-top: 30%;
	margin-left: 5%;
	width: 60%;
	height: 60px;
	font-size: 200%;
	border: 0;
	padding: 0;
	position: absolute;
	border: 3px solid black;
		box-shadow: 
 		0 1px 2px #fff, /*bottom external highlight*/
  		0 -1px 1px #666, /*top external shadow*/ 
  		inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  		inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

#btn {
	margin-top: 30%;
	margin-left: 70%;
	width: 20%;
	height: 60px;
	font-size: 200%;
	position: absolute;
	padding: 0;
	border: 0;
	font-family: 'PT Mono', monospace;
	font-weight: bold;
	border: 2px solid black;
	background: #3FC6B8;
	background: linear-gradient(#C5EDE9, #3FC6B8);
	color: black;
	box-shadow: 
 		0 1px 2px #fff, /*bottom external highlight*/
  		0 -1px 1px #666, /*top external shadow*/ 
  		inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
  		inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/


}


#gameDiv {
	width: 90%;
	margin-left: 5%;
	padding-top: 30px;
	background-color:;
	display: block;
	font-size: 500%;
	text-align: center;
	text-transform: uppercase;
}

#image {
	display: block;

}

#gameTitle {
	width: 100%;
	margin-top: 5%;
	display: block;
}

#platformDiv {
	margin-left: 15%;
	font-size: 300%;
	background: white;
	margin-top: 5px;
	display: block;
	border: 2px solid black;
	width: 70%;
	text-align: center;
	text-transform: uppercase;
}

#addedDiv {
	margin-left: 15%;
	font-size: 300%;
	background: #ccffcc;
	margin-top: 5px;
	display: block;
	border: 2px solid black;
	width: 70%;
	text-align: center;
	text-transform: uppercase;
}
